@import 'mixins.scss';
//___________COLORS____________

$blue: #007FFF;
$green: #00B4D8;
$dark: #0D1B2A;
$red: #DB3434;
$orange: #FF6B35;
$peach: #F6828C;

//___________FONTS____________

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/Proxima Nova Regular.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('fonts/Proxima Nova Semibold.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('fonts/Proxima Nova Bold.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


$dotsCount:  30;
$dotsScale: 20;
$dotsSpeed: 20s;
$dotsContent: 'Хуй';

@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
                 (-.5+(random()) * 3) + em
                 (-.5+(random()) * 3) + em
                 7px
                 #00B4D8;
  }
  text-shadow: $text-shadow;
}
@keyframes move {
  from {
    transform: rotate(0deg) scale($dotsScale) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale($dotsScale) translateX(20px);
  }
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: $dotsContent;
  color: transparent;
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}


body::before {
  @include dots($dotsCount);
  animation-duration: $dotsSpeed;
  animation-delay: -27s;
}

body::after {
  @include dots($dotsCount);
  animation-duration: $dotsSpeed;
  animation-delay: -32s;
}

head::before {
  @include dots($dotsCount);
  animation-duration: $dotsSpeed;
  animation-delay: -23s;
}

head::after {
  @include dots($dotsCount);
  animation-duration: $dotsSpeed;
  animation-delay: -19s;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #007FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul,li {
	margin: 0;
	padding: 0;
	display: block;
}

a {
	transition: .3s all;
	outline: none;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

button {
	border: none;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}


::-webkit-scrollbar {
	width: .2rem;
	border-radius: .2rem;
}

::-webkit-scrollbar-track {
	background: #F2F2F2;
	border-radius: .2rem;
}

::-webkit-scrollbar-thumb {
	background: $blue;
	border-radius: .2rem;
	width: .2rem;
}


body {
	margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-size: 0.8rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
	width: -webkit-fill-available;
	max-width: 1280px;
    padding: 12px;
    text-align: center;
    z-index: 1;
}

//commmon


.container {
	width: 100%;
	z-index: 1;
}

.container-logo {
	padding: 0 1.8rem;
	width: 100%;
}

section {
	min-height: 100vh;
}

.section-title {
	font-weight: 700;
	color: $blue;
	font-size: 1.5rem;
	line-height: 130%;
	letter-spacing: -0.01em;
}

.section-head {
	text-align: center;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 2.5rem;
	font-weight: 700;
	font-size: 1rem;

	.arrow-back {
		position: absolute;
		left: 0;
	}
}
.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .popup-content {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
  }
  
  .loading-circle {
	width: 40px;
	height: 40px;
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

.checkbox-input {
	appearance: none;
	width: 1rem;
	height: 1rem;
	border: 1px solid $blue;
	border-radius: 50%;
	position: relative;
	outline: none;

	&::after {
		content: none;
		width: 0.8rem;
		height: 0.5rem;
		@include bgContain('../img/check.svg');
		@include absoluteCenter();
	}

	&:checked {
		background: $blue;

		&::after {
			content: '';
		}
	}
}
.checkbox-question {
	appearance: none;
	width: 1rem;
	height: 1rem;
	border: 1px solid $blue;
	border-radius: 25%;
	position: relative;
	outline: none;

	&::after {
		content: none;
		width: 0.8rem;
		height: 0.5rem;
		@include bgContain('../img/check.svg');
		@include absoluteCenter();
	}

	&:checked {
		background: $blue;

		&::after {
			content: '';
		}
	}
}

.btn {
	width: 100%;
	height: 2.8rem;
	@include centerInline();
	font-size: 0.9rem;
	color: #fff;
	background: $blue;
	font-weight: 600;
	border-radius: .5rem;

	&-white {
		background: #fff;
		color: $blue;
	}

	&-disabled {
		pointer-events: none;
		background: #BFBFBF;
	}
}

.arrow-back {
	width: 2rem;
	height: 2rem;
	border: 1px solid #D8DADC;
	border-radius: .5rem;
	@include centerInline();
	background: transparent;

	img {
		width: 0.5rem;
	}

}

//_________MAIN________

.main {
	color: #fff;

	&-head {
		@include spaced();
		
		&-button {
			width: 48px;
			height: 48px;
			position: relative;
		
			&-bg{
				background: transparent;
				border-radius: 12px;
				width: 48px;
				height: 48px;
				display: flex;
				box-shadow: 0px 0px 15px 0px rgba(45, 54, 63, 0.15);
				justify-content: center;
				align-items: center;
		
		
			svg{
				position: relative;
  				overflow: visible;
		
		}
		}
		}
		&-button:hover {
			transform: scale(1);
		}
		&-button:active {
			transform: scale(0.9);
		}


		&__wrap {
			display: contents;
			
		}

		&__ico {
			width: 2rem;
			flex-shrink: 0;
			margin-right: 1rem;

			svg {
				width: 100%;
				display: block;
			}
		}

		&__name {
			font-weight: 500;
		}

		&__photo {
			flex-shrink: 0;
			margin-left: 2rem;

			img {
				width: 3rem;
				height: 3rem;
				display: block;
				object-fit: cover;
				border-radius: 50%;
			}
		}
		&__lang {
			flex-shrink: 0;
			margin-left: 2rem;

			img {
				width: 3rem;
				height: 1rem;
				display: block;
				object-fit: cover;
			}
		}
	}

	&-profile-info {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		.prof-pic {
			width: 96px;
			height: 96px;
			margin-bottom: 1.2rem;
			.bg-prof-pic {
				background: #ffffff;
				border-radius: 50%;
				width: 96px;
				height: 96px;
				position: relative;
				.place-holder {
					border-radius: 80px;
					width: 86px;
					height: 86px;
					position: absolute;
					left: 5px;
					top: 5px;
					overflow: hidden;
					img{
						width: 91.2px;
						height: 115.2px;
						position: absolute;
						left: calc(50% - 46px);
						top: -7px;
					}
				  }
			  }
		}
		.name {
			color: #ffffff;
			text-align: center;
			font: 600 24px/24px "Proxima Nova";
			position: relative;
			margin-bottom: 1.2rem;
		  }
		.count-ball {
		color: #ffffff;
		text-align: center;
		font: 700 36px/24px "Proxima Nova Bold";
		position: relative;
		margin-bottom: 1.2rem;
		}
		.balls {
			color: #ffffff;
			text-align: center;
			font: 600 16px/12px "Proxima Nova";
			position: relative;
			margin-bottom: 1.2rem;
		  }

	}




	&-balance {
		text-align: center;

		&__title {
			font-weight: 700;
			margin-bottom: 0.2rem;
		}

		&__value {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			margin-bottom: 1.5rem;

			button {
				padding: 0;
				background: transparent;
				@include centerInline();
				margin-right: 1rem;
			}

			div {
				font-weight: 700;
				font-size: 1.5rem;
				transform: translateY(.3rem);
			}

			span {
				font-weight: 500;
				margin-left: 0.4rem;
			}
		}
	}

	&-btns {
		display: flex;
		justify-content: center;
		align-items: flex-start;

		button {
			margin: 0 1rem;
			width: 5.5rem;
			color: #fff;
			background: transparent;
			font-size: 0.65rem;
			padding: 0;

			svg {
				width: 4.5rem;
				display: inline-block;
				margin-bottom: 0.5rem;
			}
		}
	}
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #007FFF;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




