$dotsCount:  10;
$dotsScale: 20;
$dotsSpeed: 20s;
$dotsContent: 'ХУЙ';

@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
                 (-.5+(random()) * 3) + em
                 (-.5+(random()) * 3) + em
                 7px
                 #00B4D8;
  }
  text-shadow: $text-shadow;
}
@keyframes move {
  from {
    transform: rotate(0deg) scale($dotsScale) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale($dotsScale) translateX(20px);
  }
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: $dotsContent;
  color: transparent;
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}


body::before {
  @include dots($dotsCount);
  animation-duration: $dotsSpeed;
  animation-delay: -27s;
}

body::after {
  @include dots($dotsCount);
  animation-duration: $dotsSpeed;
  animation-delay: -32s;
}

head::before {
  @include dots($dotsCount);
  animation-duration: $dotsSpeed;
  animation-delay: -23s;
}

head::after {
  @include dots($dotsCount);
  animation-duration: $dotsSpeed;
  animation-delay: -19s;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #007FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  z-index: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #007FFF;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




